USE [LabManagement]
GO
/****** Object:  Table [dbo].[Batch]    Script Date: 10/3/2025 5:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batch](
	[BatchCode] [varchar](10) NOT NULL,
	[Duration] [varchar](10) NOT NULL,
	[BatchType] [varchar](50) NOT NULL,
	[NoOfStudents] [int] NOT NULL,
	[Techid] [varchar](10) NOT NULL,
	[Techname] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Batch__B22ADA8FFE4395F8] PRIMARY KEY CLUSTERED 
(
	[BatchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 10/3/2025 5:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[FeedbackID] [varchar](10) NOT NULL,
	[StudentID] [varchar](10) NOT NULL,
	[FeedbackContent] [varchar](255) NOT NULL,
	[Sendby] [varchar](50) NOT NULL,
 CONSTRAINT [PK__FeedBack__6A4BEDF66197EE89] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lab]    Script Date: 10/3/2025 5:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lab](
	[LabID] [varchar](10) NOT NULL,
	[NoOfComputers] [numeric](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LabID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Learningreport]    Script Date: 10/3/2025 5:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Learningreport](
	[Reportid] [int] NOT NULL,
	[Studentid] [varchar](10) NULL,
	[StudentName] [varchar](50) NOT NULL,
	[BatchCode] [varchar](10) NOT NULL,
	[Techname] [varchar](50) NOT NULL,
	[FirstTestMarks] [numeric](18, 0) NULL,
	[SecondTestMarks] [numeric](18, 0) NULL,
	[LastTestMarks] [numeric](18, 0) NULL,
	[AverageMarks] [float] NULL,
 CONSTRAINT [PK__Learning__D5BE4C2DFCB1A705] PRIMARY KEY CLUSTERED 
(
	[Reportid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 10/3/2025 5:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleID] [varchar](10) NOT NULL,
	[ScheduleVersion] [varchar](5) NOT NULL,
	[BatchCode] [varchar](10) NOT NULL,
	[BatchType] [varchar](50) NULL,
	[Techname] [varchar](50) NOT NULL,
	[DayStudy] [varchar](255) NOT NULL,
	[Slottime] [varchar](50) NOT NULL,
	[LabID] [varchar](10) NOT NULL,
 CONSTRAINT [PK__Schedule__9C8A5B69EB8CE93C] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 10/3/2025 5:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [varchar](10) NOT NULL,
	[StudentName] [varchar](50) NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[Phone] [numeric](18, 0) NOT NULL,
	[Dayofbirth] [datetime] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Students__32C52A79930AD982] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technology]    Script Date: 10/3/2025 5:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technology](
	[Techid] [varchar](10) NOT NULL,
	[Techname] [varchar](50) NOT NULL,
	[Duration] [varchar](50) NOT NULL,
	[Software] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Techid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Batch]  WITH CHECK ADD  CONSTRAINT [FK__Batch__Techid__2A4B4B5E] FOREIGN KEY([Techid])
REFERENCES [dbo].[Technology] ([Techid])
GO
ALTER TABLE [dbo].[Batch] CHECK CONSTRAINT [FK__Batch__Techid__2A4B4B5E]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK__FeedBack__Studen__5441852A] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK__FeedBack__Studen__5441852A]
GO
ALTER TABLE [dbo].[Learningreport]  WITH CHECK ADD  CONSTRAINT [FK__Learningr__Batch__00200768] FOREIGN KEY([BatchCode])
REFERENCES [dbo].[Batch] ([BatchCode])
GO
ALTER TABLE [dbo].[Learningreport] CHECK CONSTRAINT [FK__Learningr__Batch__00200768]
GO
ALTER TABLE [dbo].[Learningreport]  WITH CHECK ADD  CONSTRAINT [FK__Learningr__Stude__7F2BE32F] FOREIGN KEY([Studentid])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Learningreport] CHECK CONSTRAINT [FK__Learningr__Stude__7F2BE32F]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK__Schedule__BatchC__2F10007B] FOREIGN KEY([BatchCode])
REFERENCES [dbo].[Batch] ([BatchCode])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK__Schedule__BatchC__2F10007B]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK__Schedule__LabID__30F848ED] FOREIGN KEY([LabID])
REFERENCES [dbo].[Lab] ([LabID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK__Schedule__LabID__30F848ED]
GO
